# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

#Ignore build items
build/bin/*
build/Debug/*
build/Release/Verbum Secretum.vshost*
build/Release/Verbum Secretum.pdb
build/Release/*.config

#Visual Studio
*.VC.db
*.aps
source/.vs/VerbumSecretum/v14/.suo
